<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
	<title>Super Notepad</title>
</head>
<body>
	<h1>Super Notepad: everything I wanted in a notepad</h1>
	<% if (user) { %>
		<h2>Welcome back, <%= user.username %></h2>
	<% } %>
	<h2>The current GoatCount is <%= goatCount %></h2>
	<div>
		<form id="new-note">
			<div>
				<label>
					<span>Note:</span>
					<input type="text" name="note" id="note-input">
				</label>
			</div>
			<div><input type="submit" value="Submit Note"></div>
		</form>
		<ul id="notes-list">
		</ul>
	</div>
	<script src="./js/index.js"></script>
</body>
</html>
